/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Start of written css */



/* General page styles */
html *
{
	color: #000;
	font-family: Arial !important;
}
h2 {
	font-weight: bold;
	padding: 10px;
}
h3 {
	font-weight: bold;
	font-size: large;
}

h6 {
	font-weight: bold;
	margin: auto;
}
p {
    margin: 5px;
    text-align: justify;
}
img {
	justify-content: flex-start;
	width:100px;
	height:100px;
	margin: 0 0 0 0;
	padding: 5px;
}
.date {
	font-style: italic;
	font-size: small;
}
.notable-img {
	width: 75px;
	height: 75px;
}
/* End of general page styles */



/* Establish Container and major page sub-elements */ 
.container {
	display: flex; 
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
}

section {
	display: flex;
	flex-direction: column;
}

.article_aside {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#logolinks {
	display: flex;
	flex-direction: row;
	/*justify-content: space-between; /*Align child elements to left and right ends*/
	justify-content: space-around;
}



article {
	
	justify-content: space-around;
	width: 60%;
    margin: 10px;
}
aside {
	justify-content: space-around;
	width: 30%;
	margin: 10px;
}

.updates {
	justify-content: space-around;
}

#welcomeversion {
  	position: fixed;
  	bottom: 0;
  	right:0;
  	width: 200px;
  	background-color: yellow;
  	
}

/* Media Query to modify article and aside */
@media all and (max-width: 768px){
/*.container {
	width: 100%;*/
/*}
article {
	width: 95%;
}
aside {
	width: 95%;
}*/
/*.updates {
	float: left;*/
}
/*#welcomeversion {
  	padding: 30px;
}*/
}
/* End of establish Container and major page sub-elements */ 



/* Style for Logo */
#idlogo {
	/*justify-content: flex-start;
	/*justify-content: space-around;*/
	width: 70px;
	height:100px;
	margin-left: 0px;
	margin-top: 0px;
	/*float: left;*/
	padding: 0px;
}
/* Media query for logo under 768px */ 
@media all and (max-width: 768px){
#logolinks{
	width: 99%;
	}

#idlogo {
	}
}

/* Align tagline under the logo */
.tagline {
	justify-content: flex-start;
	justify-content: space-around;
	/*text-align: left;
	position: relative;
	clear: left;*/
	/*padding-top: 2px;*/
	font-style: italic;
	margin-left: 90px;
	}

/*Media Query to disappear tagline */
@media all and (max-width: 768px){
.tagline {
	position: fixed !important;
   	top: -9999px !important;
   	left: -9999px !important;
}
}



/* Styles for Links */
a {
	color: red;
}
a:link {
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
	transition-delay: 2s;
	transition-timing-function: linear;
    color: black;
    background-color: yellow;
}
/* End of styles for Links */




/* Edit profile and logout links stacked horizontally and aligned right*/ 
#links {
	flex-direction: row;
}
#links ul li{
	

	list-style-type: none;
	
}
#links li {
	justify-content: flex-end;
	flex-direction: row;
	padding: 5px;
	
}
#links li+li {
	border-left: 1px solid #000000
}
/* End of edit profile and logout links stacked horizontally and aligned right*/
/* Media Query for Styles for Links for devices under 768px */
@media all and (max-width: 768px){
#links {
	display: block;
    float: none;
    text-align: center;
    width: 100%;
}
#links ul li{
	list-style-type: none;
	
	margin-top: 0;
	width: 100%;
}
#links li {
	display: block;
    float: left;
    
    text-align: center;
    width: 100%;
}
#links li a {
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    display: block;
    width: 95%;
}
#links li+li {
	border-left: none;
}    
}

/* End Styles for Links for devices under 768px */



/* Establish menu, stack horizontally and align center */ 
#menubar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*overflow:hidden;*/
	margin: auto;
	/*display: block;
	text-align: center;*/
	padding: 5px;
	width: 50%;
	}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
    padding: 5px;
    /*text-align: right;*/
}
#menu li {
	display: flex;
	flex-direction: row;
	justify-content: center;
    /*display: block;
    float: left;*/
    padding: 5px;
    text-align: center;
}
#menu li a {
	display: flex;
	flex-direction: row;
	justify-content: center;
    background-color: black;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px 3px 3px 3px;
    width: 300px;
}
/* End of establish menu, stack horizontally and align center */ 
/* Media query for menu when view under 768px */ 
@media all and (max-width: 768px){
#menubar {
	width: 100%;
	}
#menu {
    width: 100%;
}
#menu li {
    width: 100%;
}
#menu li a {
	display: block;
    width: 100%;
    padding: 10px;
}

/*Media query for ipad version*/

@media (min-width: 768px) and (max-width: 992px){
	.container {
		width: 100%;
	}

	#links {
		float: right;
	}
	#part1 {
		float:left;
    	width:33%;
	}
	#part2 {
    	display: inline-block;
    	margin:0 auto;
   		width:33%;
	}

	#welcomeversion {
    	float:right; 
    	width:33%;
    	background-color: white !important;
	}
}


/*Styles for background image in aboutus.html*/
#bg_img {
	background-image: url("backgroundpic.gif");
	background-repeat: no-repeat; 
	background-color: yellow;
}
h1 {
	font-size: 300%;
	text-align: center;
	font-style: italic;
	padding: 20px;
}
.about p {
	font-size: 200px;
}