/* 0. Meyerweb CSS Reset */
/* 1. General Page Styles */
/* 2. Container, Header, Section, Aside, Article, and Updates */
/* 3. "Edit my profile" and "Logout" links */
/* 4. Logo */
/* 5. Tagline */
/* 6. Menu Bar */
/* 7. Media Query for min/max: 768px/992px */
/* 8. Media Query for min 992px */
/* 9. About Us page Background Image */


/* 0. Meyerweb CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ********** 1. General Page Styles ********** */

html * {
	color: #000;
	font-family: Arial !important;
}
h1 {
	font-size: 300%;
	text-align: center;
	font-style: italic;
	padding: 20px;
}
h2 {
	font-size: 200%;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 2px;

}
h3 {
	font-weight: bold;
	font-size: large;
	font-style: italic;
	padding: 5px;
}
h6 {
	font-weight: bold;
	margin: auto;
	text-align: center;
}
p {
    margin: 5px;
    text-align: justify;
}
img {
	justify-content: flex-start;
	width: 50px;
	height: auto;
/*	padding: 5px;*/
}
a {
	color: red;
}
a:link {
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
	transition-delay: 2s;
	transition-timing-function: linear;
    color: black;
    background-color: yellow;
}
.date {
	font-style: italic;
	font-size: small;
	margin: 5px;
}
.status-updates-img{
	float: left;
    width: 200px;
	height: 200px;
	padding: 5px 5px 0 5px;
}
.notable-img {
	float: left;
	width: 90px;
	height: 90px;
	padding: 5px 5px 0 5px;
}
#bg_img { /*  About Us page Background image */
	background-image: url("backgroundpic.gif");
	background-repeat: no-repeat; 
	background-color: yellow;
}
.about p { /*  About Us page  */
	font-size: 200px;
}



/* ***** 2. Container Header Section Aside Article Updates ***** */
section {
	display: flex;
	flex-direction: column;
}
article {
	/*justify-content: space-between;*/
	width: 65%;
    margin: 10px;
}
aside {
	/*justify-content: space-around;*/
	width: 35%;
	margin: 10px;
}
.container {
	display: flex; 
	flex-direction: column;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.header {
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-left: 40px;
	/*justify-content: space-around;*/
}
.article_aside {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#logolinks {
	display: flex;
	/*flex-direction: row;*/
	align-self: auto;
	justify-content: space-between; /*Align child elements to left and right ends*/
	/*justify-content: space-around;*/
}
.updates {
	/*justify-content: space-around;*/
	float: left;
}
.notable_users {
	/*justify-content: space-around;*/
	float: left;
}
.trending_status{
	float: left;
}

.welcomeversion {
  	bottom: 0;
  	right:0;
  	width: 200px;
  	font-style: italic;
}


/* ********** 3. "Edit my profile" and "Logout" links ********** */ 

#links {
	display: flex;
	flex-direction: row;
	/*align-content: space-around;*/
	/*list-style-type: none;*/
	padding: 5px;
}
/*#links ul li{
	flex-direction: row;
	list-style-type: none;
	justify-content: space-around;
}*/
#links li {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	padding: 5px;
}
#links li+li {
	border-left: 1px solid #000000
}


/* 4. ********** 4. Style for Logo ********** */

#logo {
	/*justify-content: flex-start;*/
	justify-content: space-around;
	width: 75px;
	height: 120px;
}


/* 5. ********** Tagline ********** 

/*.tagline {*/
	/*justify-content: flex-start;
	justify-content: space-around;*/
	/*text-align: left;
	position: relative;
	clear: left;*/
	/*padding-top: 2px;*/
	/*font-style: italic;*/
	/*margin-left: 90px;*/
	/*}*/


/* 6. ********** Menu Bar ********** */

#menubar {
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: center;*/
	/*overflow:hidden;*/
	/*margin: auto;*/
	/*display: block;
	text-align: center;*/
	/*padding: 5px;*/
	/*width: auto;*/
	}
#menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
    /*padding: 5px;*/
    /*text-align: right;*/
}
#menu li {
	/*display: flex;
	flex-direction: row;
	justify-content: center;
    display: block;*/
    padding: 5px;
    /*text-align: center;*/
}
#menu li a {
	display: flex;
	flex-direction: row;
	justify-content: center;
    background-color: black;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
}

/*Media query for width below 768px*/

@media all and (max-width: 768px){

	.container {
		display: flex; 
		flex-direction: column;
	}

	.tagline {
		position: fixed;
   		top: -9999px;
   		left: -9999px;
	}

	#logolinks {
		display: flex;
		flex-direction: column;
	}

	#links {
		display: flex;
		flex-direction: column;
	}

	#links li+li {
		border-left: none;
	}

	#links li {
		justify-content: center;
	}

	#links li a {
		display: flex;
		flex-direction: row;
		justify-content: center;
    	background-color: black;
    	color: white;
    	padding: 5px;
    	text-decoration: none;
    	border-radius: 5px;
    	width: 150px;
	}

	#menu {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/*#menubar {
		justify-content: center;
	}*/

}


@media (min-width: 768px) and (max-width: 992px){

	.tagline {
		position: fixed;
   		top: -9999px;
   		left: -9999px;
	}
}
/* 8. Media Query for min 992px */
/* 9. About Us page Background Image */


/**************************************/
/**************************************/
/**************************************/
/**************************************/

/*Everything below has not been cleaned up.
Best practices seem to dictate that mobile version
is first to load, then media queries for larger screens*/
/**************************************/
/**************************************/
/**************************************/
/**************************************/



/*Media query for ipad version*/

/*@media (min-width: 768px) and (max-width: 992px){
	.container {
		width: 100%;
	}

	#links {
		float: right;
	}
	#part1 {
		float:left;
    	width:33%;
	}
	#part2 {
    	display: inline-block;
    	margin:0 auto;
   		width:33%;
	}

	#welcomeversion {
    	float:right; 
    	width:33%;
    	background-color: white !important;
	}
}
*/


/* Media Query to modify article and aside */
/*@media all and (max-width: 768px){
.container {
	width: 100%;
}
article {
	width: 95%;
}
aside {
	width: 95%;
}
.updates {
	float: left;
}
#welcomeversion {
  	padding: 30px;
}
}*/





/* Media query for logo under 768px */ 
/*@media all and (max-width: 768px){
#logolinks{
	width: 99%;
	}
#idlogo {
	}
}*/


/* Media Query for Styles for Links for devices under 768px */
/*@media all and (max-width: 768px){
#links {
	display: block;
    float: none;
    text-align: center;
    width: 100%;
}
#links ul li{
	list-style-type: none;
	
	margin-top: 0;
	width: 100%;
}
#links li {
	display: block;
    float: left;
    
    text-align: center;
    width: 100%;
}
#links li a {
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    display: block;
    width: 95%;
}
#links li+li {
	border-left: none;
}    
}*/

/* End Styles for Links for devices under 768px */




